language: node_js
node_js:
  - "4.1"
  - "0.12"
env:
  global:
    - "FTP_USER=user"
    - "FTP_PASSWORD=password"
  after_success:
    "curl --ftp-create-dirs -T uploadfilename -u $FTP_USER:$FTP_PASSWORD ftp://ftp.avers.esy.es/public_html"
