.page-header {
    /*background: url('http://placekitten.com/800/500') no-repeat center center;
    background-size: cover;
    color: #fff;*/
    padding: 1rem;
    background-color: #eceeef;
}

$main-color: #eceeef;;

.footer a {
    color: $main-color;
}

h1.tmp {
    height: 8em;
}

#navbar-main {
    background-color: rgba(0,0,0,.8);
    margin-bottom: 1em;
}

div[itemprop="description"]::first-letter {
    margin-left: 1em;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

header .information {
 // font-size: small;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-brand {
    display: none;
  }
}



