extends ./layout.jade

block content 
  br
  div.row
    div.col-sm-9
      h4 Цены:
      p Цены на строительство могут различатся в зависимости от типа объекта, и от типа отделки. Ниже приведены минимальные цены на строительство типовых проектов, которые предлагает строительная компания ЭАверсЭ. Естественно в случае индивидуального проекта. 
      p Цена постройки дома или бани включает в себя:
      ul
        li Просчет стоимости строительства
        li Подготовка вашего участка под строительство
        li Укладка фундамента и разработка грунта
        li ... что еще?
      p Так-же стоит отметить что на сайте представлены актуальные цены на строительство домов и бань, но цены на рынке материалов могут менятся, поэтому в любом случае советум уточнять цену по телефону ХХХХХХ. 

    div.col-sm-3
      h1 word