footer.footer
  nav.navbar.navbar-bottom.navbar-dark.bg-inverse
    div.row
      div.col-sm-5
        p Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437 ГК РФ.
        small Строительная компания «Аверс», c 2000 года профессионально занимается коттеджным строительством и строительными работами в Санкт-Петербурге и Ленинградской области.
      div.col-sm-2 
        strong Звоните:
        p
          big
            a(href="tel:+78122345878" itemprop="telephone") +78122345878
        br
        strong Пишите:
        p
          big
            a(href="malito:aversspb@yandex.ru" itemprop="email") aversspb@yandex.ru
      div.col-sm-2 
        strong Работаем:
        p
          small
            strong Пн-Пт: 
            | 9:30 - 18:00
            br
            strong Сб-Вс: 
            | выходные
      div.col-sm-3 
        strong Приходите:
        address
          small(itemprop="streetAddress") г. Санкт-Петербург
            br
            | Каменноостровский пр., 63
        br
        a(href="#") Как к нам добраться?
