extends ./layout.jade

block content 
  div.row
    div.col-sm-9
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.518393531072!2d30.303286315950647!3d59.97331198188882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963156b90f6055%3A0x4ac0afb779f25556!2sKamennoostrovskiy+pr.%2C+63%2C+Sankt-Peterburg%2C+Russia%2C+197022!5e0!3m2!1sen!2sua!4v1449327025489" width="800" height="600" frameborder="0" style="border:0" allowfullscreen)
    div.col-sm-3
      br
      ul.list-unstyled
        li
          h5 Наш адресс:
          br
          | г. Санкт-Петербург, Каменноостровский пр., 63
        br
        li       
          h5
            strong Работаем:
          br
          strong Пн-Пт: 
          | 9:30 - 18:00
          br
          strong Сб-Вс: 
          | выходные
        br
        li       
          h5 Наш контактный телефон:
          br
          | +78122345878
        br
        li       
          h5 Наша элеткронная почта:
          br
          | avers@yandex.ru

