header.page-header(itemscope itemtype="http://schema.org/LocalBusiness")
  div.container
    div.row
      div.text-center
        h1(itemprop="name") Строительная компания «Аверс»
      //div.col-md-4
        gcse:search

    div.row.information
      div.col-md-5
        // img(src="//xn----7sbgmv3ambhbl.xn--p1ai/templates/jbinsideout/images/logo/Avers.png").pull-left
        h5 О нас:
        div(itemprop="description" temtype="http://schema.org/LocalBusiness" itemscope) С 2000 года мы профессионально занимаемся коттеджным строительством и строительными работами в Санкт-Петербурге и Ленинградской области.
      div.col-md-2
        h5 Звоните:
        div
          a(href="tel:+78122345878" itemprop="telephone") +78122345878
      div.col-md-2 
        h5 Работаем:
        div(itemprop="openingHours" content="Mo,Tu,We,Th,Fr 09:30-18:00")
          strong Пн-Пт: 
          | 9:30 - 18:00
          br
          strong Сб-Вс: 
          | выходные
      div.col-md-3
        h5 Приходите:
        address(itemprop="address")
          div г. Санкт-Петербург
          | Каменноостровский пр., 63
          div
            a(href="#") Как к нам добраться?



