header.page-header
  div.row
    div.col-md-8.col-sm-offset-1
      h1 Строительная компания «Аверс»

  div.row
    div.col-md-4.col-sm-offset-1
      img(src="//xn----7sbgmv3ambhbl.xn--p1ai/templates/jbinsideout/images/logo/Avers.png").pull-left
      div(temtype="http://schema.org/LocalBusiness" itemscope) Компания «Аверс» c 2000 года профессионально занимается коттеджным строительством и строительными работами в Санкт-Петербурге и Ленинградской области.
    div.col-md-2 
      strong Звоните:
      p
        big
          a(href="tel:+78122345878" itemprop="telephone") +78122345878
    div.col-md-2 
      strong Работаем:
      br
      span
        small
          strong Пн-Пт: 
          | 9:30 - 18:00
          br
          strong Сб-Вс: 
          | выходные
    div.col-md-2 
      strong Приходите:
      address
        small г. Санкт-Петербург
          br 
          | Каменноостровский пр., 63
          br
          a(href="#") Как к нам добраться?
  //div.row
    div.col-sm-12
      gcse:search



