extends ./layout.jade

block content 
  div.row
    div.col-md-6
      h5 Что мы построили:
      div(data-ride="carousel")#carousel-example-generic.carousel.slide
        ol.carousel-indicators
          li(data-target="#carousel-example-generic" data-slide-to="0").active
          li(data-target="#carousel-example-generic" data-slide-to="1")
          li(data-target="#carousel-example-generic" data-slide-to="2")
        div(role="listbox").carousel-inner
          div.carousel-item.active
            img(src="//аверс-строй.рф/media/k2/items/cache/ee68a9df1200997b07be8fb0bbdb9f29_XL.jpg")
            div.carousel-caption
              h5 Баня
              p от 99 000 руб.
          div.carousel-item
            img(src="//аверс-строй.рф/media/k2/items/cache/ce7646a74c54cecf1c05442c71f02147_L.jpg")
            div.carousel-caption
              h5 Беседка
              p от 99 000 руб.
          div.carousel-item
            img(src="//аверс-строй.рф/media/k2/items/cache/cf4507ae4969876df39b5f798b6f40ce_L.jpg")
            div.carousel-caption
              h5 Сруб
              p от 99 000 руб.

    div.col-md-6
      h5#who Кто мы:
      p Компания «Аверс» специализируется на коттеджном строительстве в Санкт-Петербурге и Ленинградской области. На протяжении времени существования мы наработали огромный опыт в стоительстве и обсутройстве домов. Мы дородим своей репутацией на рынке.
      h5#what Что мы делаем:
      p Компания «Аверс», более 15 лет, профессионально занимается коттеджным строительством и строительными работами в Санкт-Петербурге и Ленинградской области.
      h5#why Почему выбирают нас:
      p
        ul
          li
            h5 Нам доверяют.
            p Мы работаем на рынке с 2000 года и имем хорошую репутацию у наших клиентов. Часто к нам обращаются люди, которые уже имели с нами дело... Мы ценим и дорожим вашим доверием.
          li
            h5 Цена
            p Мы стараемся находить оптимальный ценовой компромисс, не неся урон в качестве. На поверенные материалы мы даем гарантию...
          li
            h5 Заголовок
            p Текст
          li
            h5 Заголовок
            p Текст

      h5#guarantee Какие гарантии мы предоставляем:
      p Компания «Аверс», более 15 лет, профессионально занимается коттеджным строительством и строительными работами в Санкт-Петербурге и Ленинградской области.
      
  div.row
    h3 Что мы строим:
    div.col-sm-12
      ul(role="tablist")#myTab.nav.nav-tabs
        li.nav-item
          a(href="#schitovoi-dom" role="tab" data-toggle="tab" aria-controls="schitovoi-dom").nav-link.avtive Щитовой дом
        li.nav-item
          a(href="#karkasnij-dom" role="tab" data-toggle="tab" aria-controls="karkasnij-dom").nav-link Каркасный дом
        li.nav-item
          a(href="#srub" role="tab" data-toggle="tab" aria-controls="messagesMessages").nav-link Сруб из оцилиндрованного бревна
        li.nav-item
          a(href="#bani" role="tab" data-toggle="tab" aria-controls="settings").nav-link Бани
        li.nav-item
          a(href="#besedki" role="tab" data-toggle="tab" aria-controls="settings").nav-link Беседки
      div.tab-content
        div(role="tabpanel")#schitovoi-dom.tab-pane.active
          div.media
            div.media-left
              img(src="//аверс-строй.рф/media/k2/items/cache/53bed31cb74891ae64a31e4c592ef86d_L.jpg")
            div.media-body
              h4 Щитовой дом
              p Щитовой дом представляет собой комплект готовых панелей, из которых в минимальные сроки (3­5 дней) может быть собран "под ключ" полностью отделанный красивый жилой дом.
              p Щитовой дом разрабатыватся по эскизу заказчика. Эскиз согласовывается с компонией. Составляется договор на изготовление и поставку, при необходимости на сборку и монтаж дома на месте.
              p Размеры и планировка дома могут быть практически любыми. Стоимость сборного щитового дома, построенного по одному из предполагаемых типовых проектов, почти не отличается от стоимости строительства по индивидуальному проекту заказчика.
              p Дом может быть доставлен заказчику в виде готового к сборке комплекта либо установлен на подготовленную заказчиком фундамент площадку (фундамент). Стоимость сборки щитового дома составляет примерно 30% от его цены.
              p Щитовой дом очень легко планировать. Это касается и общей планировки, и планировки отдельных помещений, определения места для окон и дверей. Кроме того, можно целенаправленно варьировать утепление дома в зависимости от ваших потребностей, что оговаривается в договоре.
              p Мы предлагаем два вида щитовых домов, один из которых для круглогодичного проживания, а другой для сезонного (более дешевый). Выбоp за Вами!
        div(role="tabpanel")#karkasnij-dom.tab-pane
          div.media
            div.media-left
              img(src="//аверс-строй.рф/media/k2/items/cache/7293a47c0f4cdddd46ff10bcf3d23287_L.jpg" height="50%" width="50%")
          div.media-body
            h4 Каркасный дом
            p Чем каркасные дома отличаются от щитовых? Что представляет собой каркас?
            p Каркасные дома Достаточно легки и не требуют массивных фундаментов, что еще более сокращает стоимость строительства.
            p Почему отсутствует усадка?
            p Отсутствие усадки позволяет производить внутреннюю отделку каркасного дома сразу после строительства. Хозяин такого дома может оставить каркасный дом без отопления зимой и не бояться за состояние внутренней отделки. 
            p Более низкая цена каркасного дома по сравнению с домами с аналогичными теплотехническими характеристиками достигается благодаря использованию современных теплоизоляционных материалов.
            p Долговечность конструкции каркасного дома достигается за счет обработки и скрытого размещения каркаса.
            p Каркасно­щитовые дома позволяют использовать для своей отделки большую гамму материалов, как для внутренней, так и для внешней отделки, таких как: Сайдин (виниловая вагонка), вагонка, штукатурка с покраской т. д.
        div(role="tabpanel")#srub.tab-pane
          div.media
            div.media-left
              img(src="//аверс-строй.рф/media/k2/items/cache/cf4507ae4969876df39b5f798b6f40ce_L.jpg" height="50%" width="50%")
          div.media-body
            h4 Сруб из оцилиндрованного бревна
            p Сруб из оцилиндрованного бревна ­ основа современного деревянного дома. Достоинством
              | дома из оцилиндрованного бревна является, то, что все бревна, из которых
              | осуществляется сборка, имеют четкие геометрические параметры. Это позволяет достичь
              | плотного соединения между ними и получить эстетическую красоту природного материала
              | в готовом строении. Высокая точность изготовления позволяет избежать характерного для
              | обычных бревен чередования в обязательной последовательности комель к вершине и их
              | кропотливой подгонки друг к другу.
            p Оцилиндрованное бревно ­ технологичный материал
            p Что такое технологичный материал? Это брус изготовленный на высокотехнологическом
              | оборудовании на современном предприятии. Брус обработан по требуемым размерам,
              | имеет неообходимые элементы для стыковки и сборки на месте. Брус обработан
              | антисептиком и покрыт стойкими лаками.
              | и требует минимум ручного труда при строительстве дома, так как собирается на манер
              | конструктора.
              | Все необходимые для этого операции выполняются на заводе, в частности
              | выбор в бревне монтажных чашек и посадочного паза.
            p Дома из оцилиндрованного бревна не требуют дополнительной отделки, а современные
              | антисептирующие и лакокрасочные покрытия позволяют надолго сохранить первозданный вид дома.
        div(role="tabpanel")#bani.tab-pane
          div.media
            div.media-left
              img(src="//аверс-строй.рф/media/k2/items/cache/ee68a9df1200997b07be8fb0bbdb9f29_L.jpg" height="50%" width="50%")
          div.media-body
            h4 Бани
            | Самый верный способ получить хорошую баню - доверить её строительство профессионалам! Вам нравиться у себя на даче?. Вы бываете там как только удается выбраться из душного города?Но ка же может быть настоящая дача достойна вашего внимания если не хватает главной детали!? Что же это за деталь? Конечно это Баня!  День подходит к концу, вы вытираете пот с лица, из трубы струится дым, каменка в парилке раскалилась, спина зудит – веники ждут… Вы специально оттягиваете сладостный момент, надо приготовить чистую одежду, проверить, охладилось ли пиво…  Через час Вы на веранде, тело расслаблено, пар столбом… хорошо… В общем баня это очень классно, а лучше нас никто вам её не построит. Так что обращайтесь, звоните, приходите и будьте счастливы!
        div(role="tabpanel")#besedki.tab-pane
          div.media-object-section
            div.media-left
              img(src="//аверс-строй.рф/media/k2/items/cache/ce7646a74c54cecf1c05442c71f02147_L.jpg" height="50%" width="50%")
          div.media-body
            h4 Беседки
            |  В наше время любой уважающий себя хозяин загородного дома для создания уюта и комфорта на участке хочет обзавестись приятным дополнением к даче - беседкой. Ведь свежий воздух так необходим каждому человеку, и что может быть лучше чем в приятный день посидеть на своей беседке! Наша компания занимается изготовлением беседок любой формы и сложности, небольшие и отлично вписывающиеся сооружения подойдут любому дачнику. А также вы можете поставить крытую беседку или уютный гриль домик в котором так собираться с друзьями и близкими людьми!
