extends ./layout.jade

block content 
  div.row
    div.col-sm-9#map
      iframe(src="!1m18!1m12!1m3!1d1996.5183935310752!2d30.30328631609841!3d59.97331198188876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1771ebfd14d9e261!2z0KHRgtGA0L7QuNGC0LXQu9GM0L3QsNGPINC60L7QvNC_0LDQvdC40Y8gwqvQkNCy0LXRgNGBwrs!5e0!3m2!1sen!2s!4v1476992550696" width="800" height="600" frameborder="0" style="border:0" allowfullscreen)
    div.col-sm-3
      br
      ul.list-unstyled
        li
          h5 
            strong Наш адресс:
          p г. Санкт-Петербург, Каменноостровский пр., 63
        br
        li       
          h5
            strong Работаем:
          p
            strong Пн-Пт: 
            | 9:30 - 18:00
            br
            strong Сб-Вс: 
            | выходные
        br
        li       
          h5 
            strong Наш контактный телефон:
          p
            big
              a(href="tel:+78122345878" itemprop="telephone") +78122345878
        br
        li       
          h5 
            strong Наша элеткронная почта:
          p
            big
              a(href="malito:aversspb@yandex.ru" itemprop="email") aversspb@yandex.ru

