doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")

    meta(name='yandex-verification' content='66ff8793c3fc19a1')
    meta(name='google-site-verification' content='nVVfCNEeSPDkbZkUOXPJO1xCxYf5K33lAgu-mBo4dy0')

    meta(name='Description' content='Компания «Аверс» - строительство домов и коттеджей под ключ и общестроительные работы. г. Санкт-Петербург, Каменноостровский пр., 63, тел. +78122345878')
    title «Аверс» - строительство загородных домов Санкт-Петербурге и Ленинградской области

    //[if IE]
      link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" lazyload)
      <![endif]
  body
    //[if !IE]>
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" lazyload)
    // <![endif]
    link(rel='stylesheet', href='css/custom.css')

    // Yandex.Metrika counter -- begin
    script(type='text/javascript').
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40354410 = new Ya.Metrika({ id:40354410, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/40354410', style='position:absolute; left:-9999px;', alt='')
    // Yandex.Metrika counter -- end

    include ./header.pug
    div.container
      include ./navigation.pug
      block content
    include ./footer.pug
    include ./scripts.pug
