nav#navbar-main.navbar.navbar-dark.bg-inverse
  ul.nav.navbar-nav
    a(href="index.html").navbar-brand СК «Аверс»
    li.nav-item
      a(href="index.html").nav-link Главная
    li.nav-item
      a(href="stroitelstvo.html").nav-link Строительство
    li.nav-item
      a(href="obustroistvo.html").nav-link Услуги по обустройству
    li.nav-item
      a(href="ceni.html").nav-link Цены
    //li.nav-item
    //  a(href="garantii.html").nav-link Наши гарантии
    li.nav-item
      a(href="chavo.html").nav-link Вопросы и ответы
    li.nav-item
      a(href="kontakti.html").nav-link Контакты
    li.nav-item.pull-right
      span(itemprop="telephone")
        a.nav-link(href="tel:+78122345878") +78122345878
br
//gcse:search
