// script(src='js/google-features.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js')
script(src='js/helper.js')
script(src='//localhost:35729/livereload.js')
